
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Open+Sans:wght@300;400;500;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 300;
  font-size: 13pt;
}

div.main {
  margin: 0 auto;
  max-width: 1000px;
  width: 95%;
}

p {
  text-align: left;
  padding-top: 8px;
  padding-bottom: 8px;
  margin: 0px;
  color: #222;
}

a {
  transition: 0.3s;
  color: black;
}

a:hover {
  color: #2BA1AB;
}

h1 {
  font-size: 50pt;
  line-height: 50pt;
  font-family: 'Open Sans', sans-serif;]
  font-weight: 400;
  padding-bottom: 20pt;
  margin-bottom: 30pt;
  border-bottom: 1px solid #777;
}

.h1-line1 {
  color: #2BA1AB;
  font-size: 35pt;
  line-height: 36pt;
  font-weight: 200;
}

h2 {
  font-size: 21pt;
  padding-top: 30px;
  font-family: 'Open Sans';
  font-weight: 200;
}

.footer {
  font-size: 11pt;
  padding-top: 20px;
  padding-bottom: 20px;
  background: #FAFAFA;
  border-top: 0.5px solid #777;
}



/* For control components */
div.control {
  padding: 0px 30px 5px 0px;
  display: inline-block;
  vertical-align: text-top;
  margin-bottom: 5px;
  width: 200px;
}

.control-label {
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  color: #444;
  font-size: 10pt;
  line-height: 11pt;
}

.control-unit {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #BBB;
  font-size: 10pt;
}

.textinput {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 11pt;
  font-weight: 300;
  padding: 5px 10px 5px 10px;
  border: 2px solid #E3E3E3;
  border-radius: 3pt;
  background-color: white;
  transition: all 0.3s ease 0s;
  width: 80%;
}

.textinput:hover {
  border: 2px solid #2BA1AB;
}

.textinput:focus {
  border: 2px solid #2BA1AB;
}

select {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 11pt;
  border-radius: 3pt;
  font-weight: 300;
  padding: 5px 10px 5px 10px;
  border: 2px solid #E3E3E3;
  background-color: white;
  transition: all 0.3s ease 0s;
  width: 30%;
  vertical-align: top;
}

select:hover {
  border: 2px solid #2BA1AB;
}

option {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 11pt;
  font-weight: 300;
}

div.out {
  padding: 0px 30px 5px 0px;
  display: inline-block;
  vertical-align: text-top;
  margin-bottom: 25px;
  width: 120px;
  color: #2BA1AB;
  font-size: 24pt;
}
